<body>     

    <form action="" method="POST">

        <br>
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name }}
        <br>
        {{ form.farm.label }} {{ form.farm }}
        <br>
        {{ form.age.label }} {{ form.age }}
        <br>
        <br>
        {{ form.equipment.label }} {{ form.equipment }}
        <br>
        {{ form.equipmenttype.label }} {{ form.equipmenttype }}
        <br>
        {{ form.vegetables.label }} {{ form.vegetables }}
        <br>
        {{ form.vegenum.label }} {{ form.vegenum }}
        <br>
        {{ form.fruits.label }} {{ form.fruits }}
        <br>
        {{ form.fruitnum.label }} {{ form.fruitnum }}
        <br>
        {{ form.submit}}
    </form>

</body>