{% extends 'layout.html' %}

{% block title %}
    <h1>Homepage</h1>
{% endblock title %}
{% block body %}

    <style>
        td {
            width: 200px;
            text-align: center;
            border: 1px solid rgb(0, 0, 0);
            padding: 5px;
         }
   </style>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Farm</th>
                <th>Age</th>
                <th>Equipment</th>
                <th>Equipment Type</th>
                <th>Vegetables</th>
                <th>Number of Vegetables</th>
                <th>Fruits</th>
                <th>Number of Fruits</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>    
        <tbody>
            <!--Iterates through Farmers table for as many entries as present-->
            {% for row in farmers %} 
              <tr>
                  <td>{{row.name}}</td>
                  <td>{{row.farm}}</td>
                  <td>{{row.age}}</td>
                  <td>
                    <!--Repeats through Goods table for all entries-->
                    {% for entry in good %} 
                        <!--Only displays goods with the same id as farmer-->
                        {% if entry.farmers_id == row.id %}
                            {{entry.equipment.upp()}}
                            {{entry.equipmenttype.upper()}}
                            {{entry.vegetables.upper()}}
                            {{entry.vegenum}}
                            {{entry.fruits.upper()}}
                            {{entry.fruitnum}}
                         
                            <br>
                        {% endif %}
                    {% endfor %}
                  </td>
                  <!--Adds a link for Update and Delete-->
                  <td><a href="{{ url_for('update', id=row.id) }}"> Update </a></td>
                  <td><a href="{{ url_for('delete', id=row.id) }}"> Delete </a></td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
       
{% endblock body %}